img {
  height: 175px;
  background-color: transparent;
  width: 200px;
}
#reset {
  color: #111;
}
#title {
  color: white;
}
#win {
  color: white;
}
body {
  background-image: url('https://st.depositphotos.com/11973408/59181/i/450/depositphotos_591815028-stock-photo-black-hole-pluto-planet-deep.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
